{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="container mt-5">
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.email.id_for_label }}" class="form-label">Email address</label>
      <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" aria-describedby="{{ form.email.id_for_label }}_help">
      <div id="{{ form.email.id_for_label }}_help" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="col-md-6 mb-3">
        {{ form.captcha }} 
    </div>
    <button type="submit" class="btn btn-primary">Reset my password</button>
  </form>
</div>
{% endblock %}
