{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_new_password1" class="form-label">New password</label>
      <input type="password" name="new_password1" autocomplete="new-password" class="form-control" id="id_new_password1" aria-describedby="new_password1_help">
      <div id="new_password1_help" class="form-text">Enter your new password.</div>
    </div>
    <div class="mb-3">
      <label for="id_new_password2" class="form-label">Confirm new password</label>
      <input type="password" name="new_password2" autocomplete="new-password" class="form-control" id="id_new_password2" aria-describedby="new_password2_help">
      <div id="new_password2_help" class="form-text">Confirm your new password.</div>
    </div>
    <div class="col-md-6 mb-3">
        {{ form.captcha }} 
    </div>
    <button type="submit" class="btn btn-primary">Change my password</button>
  </form>
</div>
{% endblock %}