{% extends "base.html" %}
{% block title %}Classic Legacy List{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            {% for level in legacy_levels|dictsort:"ranking" %}
                <div class="card mt-3 mx-auto{% if forloop.last %} mb-3{% endif %}" style="width: 780px; max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{{ level.youtube_link }}" target="_blank">
                                <img src="{{ level.youtube_thumbnail }}" class="img-fluid rounded-start" style="width: 100%;">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-decoration-none" style="cursor: pointer; color: inherit;" href="{% url 'level:classic_level_detail' level.id %}">
                                        #{{ level.ranking }} - {{ level.name }}
                                    </a>
                                </h5>
                                <p class="card-text"><strong>Published by:</strong> {{ level.publisher }}</p>
                                <button type="button" class="btn btn-primary"  data-bs-placement="right" data-bs-content="Copied to clipboard!" data-bs-toggle="popover" data-bs-container="body" data-level-id="{{ level.id }}" id="liveAlertBtn">Copy Level ID</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>List editors</h3>
                </div>
                <div class="card-body text-center">
                    <p>Contact any of these people if you need assistance regarding the list.</p>
                    {% for staff_member in staff_members %}
                        <a class="text-decoration-none fw-bold" style="color: inherit;" href="{% url 'player:profile' staff_member.username %}">{{ staff_member }}</a>{% if not forloop.last %} - {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header text-center">
                    <h3>Guidelines</h3>
                </div>
                <div class="card-body text-center">
                    <p>Before any submission please consider checking the guidelines for the list. Any submission that does not follow the guidelines will be rejected.</p>
                    <a href="{% url 'guidelines' %}" class="btn btn-primary w-75">Read the guidelines</a>
                </div>
            </div>

            <div class="card mt-3">
                <iframe src="https://discord.com/widget?id=1144377634831220847&theme=dark" class="w-100" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
    delay: { "show": 0, "hide": 2000 }
  }));
  var copyButtons = document.querySelectorAll(".btn");
    copyButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var id = button.getAttribute("data-level-id");
          copyToClipboardAndShowPopover(button, id);
      });
    });
  });

  function copyToClipboard(text) {
    var textarea = document.createElement("textarea");
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
  }

  function copyToClipboardAndShowPopover(element, text) {
    copyToClipboard(text);
    const popover = bootstrap.Popover.getInstance(element);
    popover.show();
    setTimeout(() => {
      popover.hide();
    }, 2000);
  }
</script>
{% endblock %}
