{% extends "base.html" %}
{% block title %}Classic Main List{% endblock %}
{% block content %}
{% for level in mainlist_levels|dictsort:"ranking" %}
  <div class="card mt-3 mx-auto{% if forloop.last %} mb-3{% endif %}" style="width: 780px; max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{{ level.youtube_link }}" target="_blank"><img src="{{ level.youtube_thumbnail }}" class="img-fluid rounded-start" style="width: 100%;"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a class="text-decoration-none text-black" style="cursor: pointer;" href="{% url 'level:classic_level_detail' level.id %}">#{{ level.ranking }} - {{ level.name }}</a></h5>
          <p class="card-text"><strong>Published by:</strong> {{ level.publisher }}</p>
          <button type="button" class="btn btn-primary"  data-bs-placement="right" data-bs-content="Copied to clipboard!" data-bs-toggle="popover" data-bs-container="body" data-level-id="{{ level.id }}" id="liveAlertBtn">Copy Level ID</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
    delay: { "show": 0, "hide": 2000 }
  }));
  var copyButtons = document.querySelectorAll(".btn");
    copyButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var id = button.getAttribute("data-level-id");
          copyToClipboardAndShowPopover(button, id);
      });
    });
  });

  function copyToClipboard(text) {
    var textarea = document.createElement("textarea");
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
  }

  function copyToClipboardAndShowPopover(element, text) {
    copyToClipboard(text);
    const popover = bootstrap.Popover.getInstance(element);
    popover.show();
    setTimeout(() => {
      popover.hide();
    }, 2000);
  }
</script>
{% endblock %}