{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<style>
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the height of the viewport */
}
    
.content {
flex-grow: 1; /* Allow content to grow and push footer down */
}
    
footer {
flex-shrink: 0; /* Don't allow footer to shrink */
}
</style>
<body data-bs-theme="light" class="page-layout">
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">TMDL.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Classic Demonlist
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'level:classic_mainlist' %}">Main list</a></li>
                            <li><a class="dropdown-item" href="{% url 'level:classic_extendedlist' %}">Extended list</a></li>
                            <li><a class="dropdown-item" href="{% url 'level:classic_legacylist' %}">Legacy list</a></li>
                            <li><a class="dropdown-item" href="{% url 'level:classic_statviewer' %}">Stat Viewer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Platformer Demonlist
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'level:platformer_mainlist' %}">Main list</a></li>
                            <li><a class="dropdown-item disabled" href="#">Extended list</a></li>
                            <li><a class="dropdown-item disabled" href="#">Legacy list</a></li>
                            <li><a class="dropdown-item" href="{% url 'level:platformer_statviewer' %}">Stat Viewer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'guidelines' %}">Guidelines</a>
                    </li>
                </ul>
                <form class="d-flex mx-auto" role="search" method="post" action="{% url 'level:search' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search for a level" aria-label="Search" name="query">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'player:profile' request.user.username %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'recordsubmission:submissions' %}">My submissions</a></li>
                            <li><a class="dropdown-item" href="{% url 'recordsubmission:submit_record' 'classic' %}">Submit a record</a></li>
                            <li><a class="dropdown-item" href="{% url 'player:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item btn btn-primary" href="{% url 'player:login' %}">Log in</a>
                    </li>
                    <li class="nav-item ms-1">
                        <a class="nav-item btn btn-primary" href="{% url 'player:register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    </div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
<footer class="bg-body-tertiary text-center text-lg-start mt-3 shadow-lg">
    <div class="text-center p-3">
        Made by <a class="text-body fw-bold text-decoration-none" href="https://github.com/apostorial" target="_blank">Apostorial</a>
        <br>
        <a class="text-body fw-bold text-decoration-none" href="{% url 'home' %}">TheMoroccanDemonlist</a> is not affiliated with RobTopGames.
        <hr>
        Feel free to contribute to the website on <a class="text-body fw-bold text-decoration-none" href="https://github.com/apostorial/TheMoroccanDemonlist" target="_blank">GitHub</a> (The code is bad pls help)
    </div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4811306720061580" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>